<h3>Hola soy un formulario </h3>
<form method="post" action="create">
    <p>name: <input type="text" name="name"></p>
    <p>Autor:<input type="text" name="author"></p>
    <p>Año:<input type="text" name="year"></p>
    <p>Genero:<input type="text" name="genre"></p>
    <input type="submit" value="hola soy el submit"></p>
</form>